:root {
    --home_subnavheight:40px;
    --home_chatinpheight:100px;
    --home_chatinpbtn:50px;
    --home_scenepadd:40px;
    --home_chatmessagedefsize:40px;
}

.rn-home {
    padding-top:var(--home_scenepadd);
    padding-bottom:var(--home_scenepadd);
    padding-left:var(--home_scenepadd);
    padding-right:var(--home_scenepadd);
    height:calc(100vh - var(--home_scenepadd) * 2);
    background:var(--__design__homebg);
}

.rn-home > * {
    --margin:15px;

    margin-top:var(--margin);
    margin-bottom:var(--margin);
}

.rn-home-nav {
    width:calc(100% - var(--home_scenepadd) * 2);
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.rn-home-nav-action {
    display:flex;
    align-items:center;
}

.rn-home-nav-action-status {
    font-family:"Lato";
    color:var(--__design__midblack);
    font-size:.95em;
    position:relative;
    width:145px;
}

.rn-home-nav-action-status-mat {
    cursor:pointer;
    display:flex;
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.rn-home-nav-action-status-mat > * {
    --margin:2.5px;

    margin-left:var(--margin);
    margin-right:var(--margin);
}

.rn-home-nav-action-status-mat > svg {
    position:relative;
    top:-1px;
    color:var(--__design__lowblack);
}

.rn-home-nav-action-statuslistbg {
    height:calc(100% - var(--home_scenepadd) * 2);
    width:100%;
    z-index:6;
    position:absolute;
    top:0;
    left:0;
    display:none;
}

.rn-home-nav-action-statuslistbg.visible {
    display:block;
}

.rn-home-nav-action-statuslist {
    --trans:.25s;

    width:150px;
    height:auto;
    display:flex;
    flex-direction:column;
    position:absolute;
    border-radius:15px;
    bottom:15px;
    left:50%;
    margin-right:50%;
    transform:translate(-50%, 100%);
    overflow:hidden;
    z-index:7;
    opacity:0;
    visibility:hidden;
    background:var(--__design__midblack);
    transition:all var(--trans), visibility var(--trans);
}

.rn-home-nav-action-statuslist.visible {
    transition:all var(--trans), visibility var(--trans);
    opacity:1;
    visibility:visible;
    bottom:-15px;
}

.rn-home-nav-action-statuslist > * {
    flex-shrink:0;
}

.rn-home-nav-action-statuslist-btn {
    --padding:15px;
    
    background:transparent;
    cursor:pointer;
    padding-top:var(--padding);
    padding-bottom:var(--padding);
    color:var(--__design__highwhite);
    font-size:.9em;
    transition:.2s;
}

.rn-home-nav-action-statuslist-btn:hover {
    background:var(--__design__midwhite);
    color:var(--__design__navname);
}

.rn-home-nav-action-statuslist-btn:active {
    transition:0;
    background:var(--__design__midblack);
}

.rn-home-nav-action-statuslist-btn:last-child {
    border:none;
}

.rn-home-display {
    --padding:100px;

    height:80%;
    width:calc(100% - var(--home_scenepadd) * 2);
    /* padding-left:var(--padding); */
    /* padding-right:var(--padding); */
    position:absolute;
    top:50%;
    left:50%;
    margin-right:50%;
    transform:translate(-50%, -50%);
    display:flex;
    align-items:stretch;
}

.rn-home-display-conversations {
    width:40%;
    display:flex;
    flex-direction:column;
    align-items:stretch;
    position:relative;
}

.rn-home-display-conversations-search {
    --color:var(--__design__midblack);

    display:flex;
    align-items:stretch;
    height:var(--home_subnavheight);
    position:relative;
    border-bottom:1px solid var(--color);
}

.rn-home-display-conversations-search-icon {
    width:40px;
    flex-shrink:0;
    color:var(--color);
    display:flex;
    align-items:center;
    justify-content:center;
}

.rn-home-display-conversations-search-input {
    font-size:.95em;
    width:100%;
    color:var(--__design__highblack);
}

.rn-home-display-conversations-list {
    --padding:12.5px;

    height:calc(100% - 40px - var(--padding) * 2);
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:var(--padding);
    padding-bottom:var(--padding);
    overflow:scroll;
}

.rn-home-display-conversations-list-loader {
    --size:15px;

    height:var(--size);
    width:var(--size);
    margin:0;
    opacity:.2;
    position:absolute;
    top:50%;
    left:50%;
    margin-right:50%;
    transform:translate(-50%, -50%);
    border:5px solid transparent;
    border-radius:50%;
    border-top-color:lime;
    border-right-color:yellow;
    border-bottom-color:orange;
    border-left-color:red;
    animation:rn-home-display-conversations-list-loader-am linear 1s infinite;
}

@keyframes rn-home-display-conversations-list-loader-am {
    from {
        transform:translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform:translate(-50%, -50%) rotate(360deg)
    }
}

.rn-home-display-conversations-list-conv {
    --margin:7.5px;
    --padding:15px;

    height:80px;
    width:calc(100% - var(--padding) * 2 - 7.5px);
    background:var(--__design__homeconvbg);
    border-radius:3px;
    margin-top:var(--margin);
    margin-bottom:var(--margin);
    padding-left:var(--padding);
    padding-right:var(--padding);
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-shrink:0;
    position:relative;
    box-shadow:0px 0px 15px -5px var(--__design__lowwhite);
}

.rn-home-display-conversations-list-conv.active {
    background:var(--__design__homeconvabg);
    box-shadow:0px 0px 15px -2px var(--__design__lowwhite);
}

.rn-home-display-conversations-list-conv > *:not(.rn-home-display-conversations-list-conv-selector) {
    position:relative;
    z-index:3;
}

.rn-home-display-conversations-list-conv-selector {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:2;
    cursor:pointer;
}

.rn-home-display-conversations-list-conv:first-child {
    margin-top:0;
}

.rn-home-display-conversations-list-conv:last-child {
    margin-bottom:0;
}

.rn-home-display-conversations-list-conv-main {
    display:flex;
    align-items:center;
}

.rn-home-display-conversations-list-conv-main-avatar {
    --size:47.5px;

    height:var(--size);
    width:var(--size);
    border-radius:50%;
    position:relative;
    overflow:hidden;
    margin-right:10px;
}

.rn-home-display-conversations-list-conv-main-avatar > img {
    height:100%;
    width:100%;
    object-fit:cover;
    object-position:center;
}

.rn-home-display-conversations-list-conv-main-name,
.rn-home-display-conversations-list-conv-info {
    display:flex;
    flex-direction:column;
    font-size:.85em;
}

.rn-home-display-conversations-list-conv-main-name > * {
    margin-top:2.5px;
    margin-bottom:2.5px;
}

.rn-home-display-conversations-list-conv-main-name-mat {
    font-weight:500;
    color:var(--__design__highblack);
}

.rn-home-display-conversations-list-conv-main-name-preview {
    font-weight:200;
    color:var(--__design__midblack);
}

.rn-home-display-conversations-list-conv-info {
    color:var(--__design__midblack);
    font-size:.9em;
    align-items:flex-end;
}

.rn-home-display-conversations-list-conv-info > * {
    margin-top:3px;
    margin-bottom:3px;
}

.rn-home-display-conversations-list-conv-counter {
    --size:20px;

    height:var(--size);
    width:var(--size);
    border-radius:50%;
    background:red;
    color:var(--__design__midblack);
    font-size:.9em;
    text-align:center;
    line-height:calc(var(--size) + .5px);
}

.rn-home-display-chat {
    --padding:15px;

    width:calc(60% - var(--padding) * 2);
    padding-left:var(--padding);
    padding-right:var(--padding);
    position:relative;
}

.rn-home-display-chat-name {
    height:calc(var(--home_subnavheight) - 1px);
    display:flex;
    align-items:center;
    border-bottom:1px solid var(--__design__lowblack);
}

.rn-home-display-chat-name-mat {
    font-family:"Quicksand";
    font-weight:500;
    font-size:1em;
    color:var(--__design__navname);
}

.rn-home-display-chat-display {
    --padding:10px;

    height:calc(100% - var(--home_subnavheight) - var(--home_chatinpheight));
    width:calc(100% - var(--padding) * 2);
    padding-left:var(--padding);
    padding-right:var(--padding);
    overflow:scroll;
    display:flex;
    flex-direction:column;
    position:relative;
}

.rn-home-display-chat-display > * {
    flex-shrink:0;
}

.rn-home-display-chat-input {
    height:var(--home_chatinpheight);
    position:relative;
}

.rn-home-display-chat-input-actions {
    --margin:10px;

    width:100%;
    display:flex;
    align-items:center;
    margin-top:var(--margin);
    margin-bottom:var(--margin);
    overflow-y:hidden;
    overflow-x:scroll;
}

.rn-home-display-chat-input-actions-action {
    --paddinglr:10px;
    --paddingud:5px;
    --margin:5px;

    padding-left:var(--paddinglr);
    padding-right:var(--paddinglr);
    padding-top:var(--paddingud);
    padding-bottom:var(--paddingud);
    margin-left:var(--margin);
    margin-right:var(--margin);
    background:var(--__design__homeconvabg);
    flex-shrink:0;
    font-size:.85em;
    cursor:pointer;
    font-weight:500;
    text-transform:uppercase;
    color:var(--__design__midblack);
    border-radius:45px;
    user-select:none;
    box-shadow:0px 0px 5px 0px var(--__design__lowwhite);
    transition:.1s;
}

.rn-home-display-chat-input-actions-action:active {
    transform:scale(.925);
}

.rn-home-display-chat-input-actions-action:first-child {
    margin-left:0;
}

.rn-home-display-chat-input-actions-action:last-child {
    margin-right:0;
}

.rn-home-display-chat-input-mat {
    height:52.5px;
    box-shadow:0px 1px 2px 0px var(--__design__pcwhite);
    background:var(--__design__homeinputbg);
    border-radius:3px;
    position:relative;
    display:flex;
    margin-top:15px;
}

.rn-home-display-chat-input-mat > * {
    height:100%;
}

.rn-home-display-chat-input-mat-send,
.rn-home-display-chat-input-mat-btn {
    display:flex;
    width:var(--home_chatinpbtn);
    align-items:center;
    justify-content:center;
    position:relative;
    z-index:1999;
}

.rn-home-display-chat-input-mat-btn > button {
    cursor:pointer;
    font-size:1.4em;
    color:var(--__design__lowblack);
}

.rn-home-display-chat-input-mat-btn-display {
    position:absolute;
    top:-5px;
    right:30px;
    height:150px;
    width:160px;
    border-radius:5px;
    background:white;
    box-shadow:0px 0px 2px 0px var(--__design__minblack);
    transform:translate(100%, -100%);
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    padding:10px;
    overflow:scroll;
    visibility:hidden;
    transition:all .5s;
}

.rn-home-display-chat-input-mat-btn:hover .rn-home-display-chat-input-mat-btn-display {
    visibility:visible;
}

.rn-home-display-chat-input-mat-btn-display-btn {
    --size:30px;
    
    height:var(--size);
    width:var(--size);
    object-fit:cover;
    object-position:center;
    margin:7.5px;
    cursor:pointer;
    transition:.1s;
}

.rn-home-display-chat-input-mat-btn-display-btn:active {
    transform:scale(.9);
}

.rn-home-display-chat-input-mat-btn:hover {
    color:var(--__design__lowblack);
}

.rn-home-display-chat-input-mat-btn:active {
    transition:.1s;
    color:var(--__design__midblack);
}

.rn-home-display-chat-input-mat-input {
    width:calc(100% - var(--home_chatinpbtn) * 2);
    font-size:.95em;
    color:var(--__design__navname);
}

.rn-home-display-chat-input-mat-send button {
    background:#2F8EF2;
    color:white;
    border-radius:50%;
    height:30px;
    width:30px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:.75em;
    cursor:pointer;
    box-shadow:0px 0px 10px -2.5px var(--__design__ciblack);
    transition:.1s;
}

.rn-home-display-chat-input-mat-send button:active {
    transform:scale(.9);
}

.rn-home-display-chat-input-mat-send button > svg {
    position:relative;
    left:-.5px;
}

.rn-home-stickersbg {
    height:calc(100% - var(--home_scenepadd) * 2);
    width:calc(100% - var(--home_scenepadd) * 2);
    position:absolute;
    margin:0;
    display:none;
    background:red;
}

.rn-home-stickersbg.visible {
    display:block;
    z-index:12;
}

.rn-home-display-chat-display-message {
    --margin:15px;

    display:flex;
    flex-direction:column;
    margin-top:var(--margin);
    margin-bottom:var(--margin);
}

.rn-home-display-chat-display-message.right {
    align-self:flex-end;
}

.rn-home-display-chat-display-message-content {
    display:flex;
    align-items:flex-end;
}

.rn-home-display-chat-display-message-content-avatar {
    width:var(--home_chatmessagedefsize);
    height:var(--home_chatmessagedefsize);
    border-radius:50%;
    overflow:hidden;
    margin-right:7.5px;
    flex-shrink:0;
    position:relative;
}

.rn-home-display-chat-display-message-content-avatar > img {
    height:100%;
    width:100%;
    object-fit:cover;
    object-position:center;
}

.rn-home-display-chat-display-message.right .rn-home-display-chat-display-message-content-avatar {
    display:none;
}

.rn-home-display-chat-display-message-content-mat {
    --paddinglr:17.5px;
    --paddingud:10px;

    height:auto;
    padding-left:var(--paddinglr);
    padding-right:var(--paddinglr);
    padding-top:var(--paddingud);
    padding-bottom:var(--paddingud);
    background:var(--__design__homeconvbg);
    border-radius:1rem;
}

.rn-home-display-chat-display-message-content-mat > img {
    width:128px;
}

.rn-home-display-chat-display-message.right .rn-home-display-chat-display-message-content-mat {
    background:#2A8BF2;
    color:var(--__design__darkcol);
}

.rn-home-display-chat-display-message-content-mat.nobg {
    background:transparent!important;
}

.rn-home-display-chat-display-message-content-mat.action p {
    color:var(__design__navname);
    text-align:center;
    font-family:"Quicksand";
    font-weight:500;
    text-transform:uppercase;
    font-size:.9em;
    color:var(--__design__midblack);
}

.rn-home-display-chat-display-message-content-mat-text {
    font-size:.95em;
    font-family:"Quicksand";
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    color:var(--__design__navname);
}

.rn-home-display-chat-display-message.right .rn-home-display-chat-display-message-content-mat-text {
    color:white;
}

.rn-home-display-chat-display-message-time {
    width:var(--home_chatmessagedefsize);
    display:flex;
    justify-content:center;
    font-size:.8em;
    margin-top:5px;
    color:var(--__design__lowblack);
    font-weight:500;
}

.rn-home-display-chat-display-message.right .rn-home-display-chat-display-message-time {
    align-self:flex-end;
}

.rn-home-display-chat-alert,
.rn-home-display-chat-loader {
    position:absolute;
    top:50%;
    left:50%;
    margin-right:50%;
    transform:translate(-50%, -50%);
}

.rn-home-display-chat-alert {
    font-weight:300;
    font-family:"Quicksand";
    color:var(--__design__lowblack);
    width:100%;
    text-align:center;
}

.rn-home-display-chat-loader {
    width:75%;
    height:5px;
    border-radius:50%;
    background:var(--__design__ciblack);
    position:relative;
    overflow:hidden;
}

.rn-home-display-chat-loader:before {
    --slice:1000%;

    content:'';
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    animation:rn-home-display-chat-loader-am 5s infinite;
    animation-direction:alternate;
}

@keyframes rn-home-display-chat-loader-am {
    0% {
        background:red;
    }
    20% {
        background:blue;
    }
    40% {
        background:green;
    }
    60% {
        background:orange;
    }
    80% {
        background:rebeccapurple;
    }
    100% {
        background:gray;
    }
}

.rn-home-display-conversations-list-alertion {
    position:absolute;
    top:5px;
    left:50%;
    transform:translateX(-50%);
    font-weight:200;
    color:var(--__design__ciblack);
    text-transform:uppercase;
    font-size:.7em;
}