.rn-search {
    --padding:20px;

    padding-top:var(--padding);
    padding-bottom:var(--padding);
    height:calc(100vh - var(--padding) * 2);
    display:flex;
    flex-direction:column;
    background:var(--__design__homebg);
    align-items:center;
}

.rn-search > * {
    flex-shrink:0;
}

.rn-search-mat {
    height:37.5px;
    width:400px;
    max-width:90%;
    border-bottom:1px solid var(--__design__minblack);
    display:flex;
    position:relative;
}

.rn-search-mat > * {
    height:100%;
}

.rn-search-mat-icon {
    --w:40px;
    
    display:flex;
    align-items:center;
    justify-content:center;
    width:var(--w);
    color:var(--__design__ciblack);
    flex-shrink:0;
}

.rn-search-mat-field {
    --padding:10px;

    width:calc(100% - var(--padding));
    padding-right:var(--padding);
    font-size:.95em;
    color:var(--__design__navname);
}

.rn-search-results {
    width:400px;
    height:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    max-width:90%;
    margin-top:20px;
}

.rn-search-results-user {
    --padding:15px;
    --margin:10px;

    display:flex;
    align-items:center;
    justify-content:space-between;
    width:calc(100% - var(--padding));
    padding-left:var(--padding);
    padding-right:var(--padding);
    margin-top:var(--margin);
    margin-bottom:var(--margin);
    box-shadow:0px 1px 15px -5px var(--__design__minblack);
    height:80px;
    background:var(--__design__homeconvabg);
    position:relative;
    border-radius:5px;
}

.rn-search-results-user > *:not(.rn-search-results-user-selector) {
    position:relative;
    z-index:4;
}

.rn-search-results-user-selector {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:2;
    cursor:pointer;
}

.rn-search-results-user-avatar > img,
.rn-search-results-user-avatar,
.rn-search-results-user-avatar-status {
    border-radius:50%;
}

.rn-search-results-user-avatar {
    --size:47.5px;

    height:var(--size);
    width:var(--size);
    filter:drop-shadow(0px 0px 1px var(--__design__ciblack));
    position:relative;
}

.rn-search-results-user-avatar > img {
    height:100%;
    width:100%;
}

.rn-search-results-user-avatar-status {
    --size:10px;
    
    width:var(--size);
    height:var(--size);
    background:transparent;
    position:absolute;
    top:0px;
    right:0px;
    opacity:.4;
    border:1px solid var(--__design__minblack);
}

.rn-search-results-user-name,
.rn-search-results-user-chat {
    position:relative;
    bottom:-1px;
}

.rn-search-results-user-name {
    font-weight:400;
    font-family:"Quicksand";
    color:var(--__design__highblack);
}

.rn-search-results-user-chat {
    font-size:1.25em;
    color:var(--__design__lowblack);
    cursor:pointer;
}

.rn-search-results-alertion {
    margin-top:5px;
    width:100%;
    text-align:center;
    color:var(--__design__lowblack);
    font-weight:400;
    font-size:.95em;
    font-family:"Quicksand";
}

.rn-search-results-loader {
    height:5px;
    width:45px;
    background:linear-gradient(90deg, #5C258D, #4389A2);
    border-radius:45%;
    animation:rn-search-results-loader-am .75s ease-in-out infinite alternate;
}

@keyframes rn-search-results-loader-am {
    0% {
        left:0;
        transform:translateX(0);
    }
    50% {
        left:100%;
        transform:translateX(-100%);
    }
    100% {
        left:0;
        transform:translateX(0);
    }
}